.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height : 100vh;
  background : rgb(42, 185, 24);
  background : linear-gradient(45deg,rgb(125, 135, 130)22%,rgb(183, 186, 186)54%,rgb(98, 103, 103)100%);
}

.content-container{
  display: flex;
  margin-top :125px;
  height :45vh;
  border-radius :19px;
  min-width :250px;
  background-color: white;
  flex-direction: column;
  text-align: center;
}

.heading{
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(118,123,123);
}

.counter{
  font-size: 45px;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(118,123,123);
}

.increase-button{
  border-width:0;
  border-radius:16px ;
  color: white;
  height:30px;
  width:90px;
  margin-left :10px;
  margin-right :10px;
  background-color: rgb(10, 129, 198);
}

.decrease-button{
  border-width:0;
  border-radius:16px;
  color: white;
  height:30px;
  width:90px;
  margin-left :10px;
  margin-right :10px;
  background-color: rgb(33, 143, 23);
}